{% extends 'base.html' %}
{% load static %}

{% block title %} 
This post title
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />
{% endblock css_files %}

{% block content %}
    <section id='summary'>
        <h2>{{ title }}</h2>
        <article>
            {% comment %} <img src="{% static 'blog/images/'|add:post.image %}" alt='{{ post.title }}'> {% endcomment %}
            <address>By {{ author |title }}</address>
            <div>Last update on <time>{{ date }}</time><div>
        </article>
    </section>

    <main>
        {{ post_content | linebreaks }}
    </main>
{% endblock content %}